*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

html{

    scroll-behavior:smooth;

}

body{

    width:100%;

    min-height:100vh;

    overflow-x:hidden;

    font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    background:#0f172a;

}

a{

    text-decoration:none;

    color:inherit;

}

button{

    font-family:inherit;

}

input{

    font-family:inherit;

}

img{

    max-width:100%;

    display:block;

}

ul{

    list-style:none;

}

::-webkit-scrollbar{

    width:8px;

}

::-webkit-scrollbar-track{

    background:#111827;

}

::-webkit-scrollbar-thumb{

    background:#6366f1;

    border-radius:20px;

}

::-webkit-scrollbar-thumb:hover{

    background:#818cf8;

}